* {
    box-sizing: border-box;
}

:root {
    --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #222222;
    /* position: relative; */
}

.textBelow {
    font-weight: 300;
    font-size: 32px;
}

.animated-text {
    position: absolute;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 52px;
    /* opacity: 0; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.helloText {
    font-size: 72px;
    font-weight: 500;
    margin: 0;
}

.chatBox {
    width: 60vw;
    height: 10vh;
    border: 5px solid black;
    border-radius: 32px;
    display: grid;
}

.typed {
    margin: 0;
    position: absolute;
    font-size: 24px;
    padding-left: 3%;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}

.fakeSend {
    height: 6vh;
    width: 6vw;
    background-color: blue;
    border-radius: 7px;
    color: white;
    justify-self: flex-end;
    align-self: center;
    margin-right: 2vw;
    font-size: 22px;
    padding-top: 3px;
    text-align: center;
}

.word {
    border: 5px solid white;
    color: white;
    border-radius: 12px;
    animation: animateWord 5s ease-in-out 26s;
}

.up {
    opacity: 0;
    animation: animateText2 5s ease-in-out;
}

.down {
    opacity: 0;
    animation: animateText2 3s ease-in-out 2s;
}

.text2 {
    opacity: 0;
    animation: animateText2 5s ease-in-out 5s;
}

.box1 {
    opacity: 0;
    animation: animateBox1 6s ease-in-out 10s;
}

.typed {
    opacity: 0;
    animation: typing 6s forwards 10s steps(47, end);
}

.text3 {
    opacity: 0;
    animation: animateText3 5s ease-in-out 16s;
}

.text32 {
    opacity: 0;
    animation: animateText3 5s ease-in-out 21s;
}

.text33 {
    opacity: 0;
    animation: animateText3 5s ease-in-out 26s;
}

.text22 {
    opacity: 0;
    animation: animateText2 5s ease-in-out 31s;
}

.text23 {
    opacity: 0;
    animation: animateText2 5s ease-in-out 36s;
}

.smiley {
    display: inline-block;
    margin-left: 10px;
    animation: smiley 3s ease-in-out 38s;
}

.charS {
    opacity: 0;
    animation: animS 5s ease-in-out 41s;
}

.charO {
    opacity: 0;
    animation: animO 5s ease-in-out 41s;
}

.balloon {
    position: absolute;
}

.b1 {
    top: 100vh;
    left: 0vw;
    /* animation: balloonLift 1.5s 3; */
    animation: balloonLift 1.6s 46s 3;
}

.b2 {
    top: 100vh;
    left: 20vw;
    /* animation: balloonLift 1.5s 0.3s 3; */
    animation: balloonLift 1.6s 46.3s 3;
}

.b3 {
    top: 100vh;
    left: 80vw;
    /* animation: balloonLift 1.5s 0.7s 3; */
    animation: balloonLift 1.6s 46.7s 3;
}

.b4 {
    top: 100vh;
    left: 85vw;
    /* animation: balloonLift 1.5s 1s 3; */
    animation: balloonLift 1.6s 47s 3;
}

.b5 {
    top: 100vh;
    left: 60vw;
    /* animation: balloonLift 1.5s 1.3s 3; */
    animation: balloonLift 1.6s 47.3s 3;
}

.b6 {
    top: 100vh;
    left: 10vw;
    /* animation: balloonLift 1.5s 1.7s 3; */
    animation: balloonLift 1.6s 47.7s 3;
}

.b7 {
    top: 100vh;
    left: 40vw;
    /* animation: balloonLift 1.5s 2.4s 3; */
    animation: balloonLift 1.6s 48.4s 3;
}

.b8 {
    top: 100vh;
    left: 30vw;
    /* animation: balloonLift 1.5s 2.2s 3; */
    animation: balloonLift 1.6s 48.2s 3;
}

.b9 {
    top: 100vh;
    left: 55vw;
    /* animation: balloonLift 1.5s 2.5s 3; */
    animation: balloonLift 1.6s 48.5s 3;
}

.chhoti {
    width: 30%;
    opacity: 0;
    /* filter: blur(5px); */
    animation: entry 20s 51s;
    /* z-index: 10; */
}

.hat {
    opacity: 0;
    width: 5%;
    position: absolute;
    top: 6vh;
    left: 50vw;
    animation: hat 20s 51s;
    z-index: 11;
}

.wavy1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 500;
    font-size: 54px;
    color: black;
    left: 40vw;
    -webkit-text-stroke-width: 1px;
}

.wavy1 span {
    opacity: 0;
    display: inline-block;
    animation: wavy1 20s;
    animation-delay: calc(51s + .1s * var(--i));
}

.wavy2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 500;
    font-size: 48px;
    color: black;
    left: 55vw;
    -webkit-text-stroke-width: 1px;
}

.wavy2 span {
    opacity: 0;
    display: inline-block;
    animation: wavy2 20s;
    animation-delay: calc(51s + .1s * var(--j));
}

.eight svg {
    width: 25px;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: -1;
    animation: bubbles 2s 3;
    animation-delay: calc(56s + 0.7s * var(--k));
}

.eight svg:nth-child(1) {
    top: 7vh;
    left: 5vw;
    fill: #bd6ecf;
}

.eight svg:nth-child(2) {
    top: 23vh;
    left: 35vw;
    fill: #7dd175;
}

.eight svg:nth-child(3) {
    top: 33vh;
    left: 23vw;
    fill: #349d8b;
}

.eight svg:nth-child(4) {
    top: 43vh;
    left: 57vw;
    fill: #347a9d;
}

.eight svg:nth-child(5) {
    top: 68vh;
    left: 7vw;
    fill: #c66053;
}

.eight svg:nth-child(6) {
    top: 42vh;
    left: 77vw;
    fill: #bfaa40;
}

.eight svg:nth-child(7) {
    top: 68vh;
    left: 83vw;
    fill: #e3bae8;
}

.eight svg:nth-child(8) {
    top: 86vh;
    left: 37vw;
    fill: #8762cb;
}

.eight svg:nth-child(9) {
    top: 94vh;
    left: 87vw;
    fill: #9a90da;
}

.end {
    font-size: 32px;
}

.end p {
    opacity: 0;
    margin: 25px;
    animation: end 40s;
    animation-delay: calc(70s + 1s * var(--l));
}

@keyframes end {
    0% {
        opacity: 0;
    }
    2.5%, 100% {
        opacity: 1;
    }
}

@keyframes bubbles {
    0% {
        scale: 1;
        visibility: hidden;
    }
    100% {
        visibility: visible;
        scale: 80;
        opacity: 0;
    }
}

@keyframes wavy2 {
    0%, 15%{
        transform: translateX(0vw);
        opacity: 0;
        color: black;
        text-shadow: none;
        -webkit-text-stroke-color: black;
    }
    20% {
        transform: translateX(15vw);
        opacity: 1;
        color: black;
        text-shadow: none;
        -webkit-text-stroke-color: black;
    }
    25%, 85% {
        -webkit-text-stroke-color: var(--color-quinary);
        color: var(--color-primary);
        text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
        transform: translateX(15vw);
        opacity: 1;
    }
    90%, 100% {
        -webkit-text-stroke-color: var(--color-quinary);
        color: var(--color-primary);
        text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
        transform: translateX(15vw);
        opacity: 0;
    }
}

@keyframes wavy1 {
    0%, 15%{
        transform: translateX(0vw);
        opacity: 0;
        color: black;
        text-shadow: none;
        -webkit-text-stroke-color: black;
    }
    20% {
        transform: translateX(-15vw);
        opacity: 1;
        color: black;
        text-shadow: none;
        -webkit-text-stroke-color: black;
    }
    25%, 85% {
        -webkit-text-stroke-color: var(--color-quinary);
        color: var(--color-primary);
        text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
        transform: translateX(-15vw);
        opacity: 1;
    }
    90%, 100% {
        -webkit-text-stroke-color: var(--color-quinary);
        color: var(--color-primary);
        text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
        transform: translateX(-15vw);
        opacity: 0;
    }
}

@keyframes hat {
    0%, 10%{
        opacity: 1;
        top: 100vh;
        left: 30vw;
        rotate: 360deg;
    }
    15%, 85% {
        opacity: 1;
        rotate: 0deg;
        top: 6vh;
        left: 50vw;
    }
    90%, 100% {
        opacity: 0;
    }
}

@keyframes entry {
    0%, 5%{
        scale: 5;
        rotate: 45deg;
        opacity: 0;
    }
    10%, 85% {
        rotate: 0deg;
        scale: 1;
        width: 30%;
        opacity: 1;
    }
    90%, 100%{
        opacity: 0;
    }
}

@keyframes balloonLift {
    100% {
        top: -110vh;
    }
}

@keyframes animS {
    0% {
        scale: 45;
        rotate: 20deg;
        opacity: 0;
    }
    20%, 90% {
        scale: 5;
        opacity: 1;
        rotate: 0deg;
        margin-right: 90%;
    }
    100% {
        scale: 10;
        opacity: 0;
        margin-right: 200%;
    }
}

@keyframes animO {
    0% {
        scale: 45;
        rotate: -20deg;
        opacity: 0;
    }
    20%, 90% {
        scale: 5;
        opacity: 1;
        rotate: 0deg;
        margin-left: 90%;
    }
    100% {
        scale: 10;
        opacity: 0;
        margin-left: 200%;
    }
}

@keyframes animateText1 {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    10%, 90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes animateText2 {
    0%, 100% {
        opacity: 0;
        transform: translateY(20px);
    }

    10%, 90% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animateBox1 {
    0% {
        opacity: 0;
        scale: 50%;
    }
    10%, 90%{
        scale: 100%;
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes typing {
    0%, 10% {
        width: 0;
        opacity: 1;
        transform: translateY(0);
    }

    70%, 90% {
        width: 73%;
        opacity: 1;
        /* z-index: 999; */
        transform: translateY(0);
    }

    100% {
        width: 73%;
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes animateText3 {
    0% {
        opacity: 0;
        transform: rotateX(90deg);
    }
    20%, 80%{
        opacity: 1;
        transform: rotateX(0deg);
    }
    100% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
}

@keyframes animateWord {
    0%, 30% {
        border-color: white;
        background-color: white;
    }
    50%, 80% {
        border-color: rgb(21, 161, 237);
        background-color: rgb(21, 161, 237);
        color: white;
    }
    100% {
        transform: rotateX(-90deg);
        border-color: rgb(21, 161, 237);
        background-color: rgb(21, 161, 237);
        color: white;
    }
}

@keyframes smiley {
    0%, 10%{
        transform: rotate(0deg);
    }
    30%, 100%{
        transform: rotate(90deg);
    }
}

@media screen and (max-width: 500px) {
    .animation-container {
        padding-bottom: 50%;
    }
    .textBelow {
        font-size: 22px;
    }
    .animated-text {
        font-size: 40px;
    }
}